@import '../../index.scss';


.blog-post-preview {
    cursor: pointer;
    background-color: $grey-100;
    padding: $object-padding-400;
    border: $line-300;
    border-radius: $border-radius;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: $shadow-100;

        .read-more {
            color: $primary;
        }
    }

    h1 {
        font-size: $font-size-h5;
        line-height: $line-height-h5;
    }

    .date, .read-more {
        color: lighten($font-color-light, 30%);
    }
}