.available-models {
    .section-header {
        max-width: 700px;
    }

    a {
        color: $primary;
        text-decoration: none;

        svg {
            display: inline-block;
            transition: transform $transition-default;
        }

        &:hover {
            color: $primary-700;
            
            svg {
                transform: $transform-translate-right;
            }
        }
    }

    .model-card {
        h3 svg {
            font-size: $icon-size;
            vertical-align: middle;
            margin-right: 0.5rem;
            color: $font-color-light;
        }

        .model-image {
            width: 40%;
            height: auto;
            object-fit: cover;
            margin-bottom: 2rem;
        }
    }

    .table-responsive {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .table-responsive table {
        min-width: 600px;
    }

    table {
        th, td {
            padding: 0.75rem 1rem;
            vertical-align: middle;
        }

        th {
            font-weight: 600;
            white-space: nowrap;
        }

        td:first-child {
            font-weight: 500;
            white-space: nowrap;
        }
    }
}

@include media-breakpoint-down(md) {
    .available-models {
        .section-header {
            max-width: 100%;
        }
    }
}