.model-card {
    a:not(:global(.btn)) {
        color: $primary;

        &:hover {
            color: $primary-700;
        }
    }

    h3 svg {
        font-size: $icon-size;
        vertical-align: middle;
        margin-right: 0.5rem;
        color: $font-color-light;
    }
}