@use '../../styles/variables.scss' as vars;
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.quickstart-section {

    h6 {
        a {
            text-decoration: none;
            color: vars.$primary;

            &:hover {
                text-decoration: underline;
                color: darken(vars.$primary, 20%);
            }
        }
    }

    .margin-end {
        border-right: vars.$line-400;
    }

    .step-number {
        opacity: 0.7;
        background-color: vars.$primary-100;
        color: vars.$primary;
        border-radius: 50%;
        width: 2.2rem;
        height: 2.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
    }
}

@include media-breakpoint-down(md) {
    .margin-end {
        border-right: none !important;
    }
}