.quickstart-section {

    h6 {
        a {
            text-decoration: none;
            color: $primary;

            &:hover {
                text-decoration: underline;
                color: $primary-700;
            }
        }
    }

    .margin-end {
        border-right: $line-400;
    }

    .step-number {
        opacity: 0.7;
        background-color: $primary-100;
        color: $primary;
        border-radius: 50%;
        width: 2.2rem;
        height: 2.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
    }
}

@include media-breakpoint-down(md) {
    .margin-end {
        border-right: none !important;
    }
}