.hero-title {
    font-size: $font-size-hero;
    font-family: $font-headlines !important;
    color: $font-color-dark;
    line-height: $line-height-hero;
    font-weight: 500;

    b {
        font-weight: 600;
        color: $primary-500;
    }
}

.hero-subtitle {
    font-size: $font-size-h5;
    line-height: $line-height-p-600;
    font-weight: 400;
    color: $font-color-light;

    b {
        font-weight: 600;
        color: $font-color-dark;
    }
}

.hero-image {
    width: 60% !important;
    max-width: 480px;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@include media-breakpoint-down(md) {
    .hero-title {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .hero-subtitle {
        font-size: $font-size-h6;
        line-height: $line-height-p-500;
    }
}

@include media-breakpoint-down(sm) {
    .hero-title {
        font-size: 1.7rem;
        line-height: 2.4rem;
    }
}