.recent-blog-posts {
    a {
        text-decoration: none;

        svg {
            display: inline-block;
            transition: transform $transition-default;
        }

        &:hover {
            color: $primary;
        }
    }

    .view-all {
        &:hover {
            svg {
                transform: $transform-translate-right;
            }
        }
    }

    .section-header {
        max-width: 500px;
    }
}