.why-tanaos-section {
    a {
        color: $primary;

        &:hover {
            color: $primary-700;
        }
    }

    svg {
        color: $primary-300;
        font-size: $icon-size;
        margin-bottom: 15px;
    }
}