@import '../../index.scss';


.blog-thumbnail {

    border: $line-300;
    border-radius: $border-radius;

    img {
        width: 100%;
        cursor: pointer;
    }

    .thumbnail-body {
        padding: $object-padding-500;
        .thumbnail-title {
            cursor: pointer;
    
            &:hover {
                text-decoration: underline;
            }
        }
    
        .thumbnail-description {
            font-size: $font-size-p-400;
        }

        .thumbnail-footer {
            display: flex;
            flex-direction: space-between;
            align-items: center;

            img {
                width: 40px;
                border-radius: 50%;
            }

            .author-name {
                font-size: $font-size-p-300;
                font-weight: 400;
                color: $font-color-dark;
            }

            .article-date {
                font-size: $font-size-p-200;
                font-weight: 400;
            }

            .tag-container {
                margin-left: auto;
            }

            .badge-grey {
                font-size: $font-size-p-300
            }
        }

        .tag-container-mobile {
            font-size: $font-size-p-300 !important;
        }
    }
}