@use '../../styles/variables.scss' as vars;


.blog-page {
    p {
        font-size: vars.$font-size-h6;
        line-height: vars.$line-height-h6;
    }

    .post-preview {
        cursor: pointer;
        text-align: start;

        i {
            display: inline-block;
            transition: transform vars.$transition-default;
        }

        &:hover {
            .read-more {
                color: vars.$primary;
            }

            i {
                transform: vars.$transform-translate-right;
            }

            .zoom-img {
                transform: scale(1.05);
            }
        }

        h2 {
            font-size: vars.$font-size-h4;
            line-height: vars.$line-height-h4;
        }
        
        h3 {
            font-size: vars.$font-size-p-500;
            line-height: vars.$line-height-p-500;
            color: vars.$font-color-light;
            font-weight: 400;
        }

        .post-date {
            color: vars.$grey-400;
        }

        .read-more {
            color: vars.$grey-400;
        }

        .zoom-container {
            overflow: hidden;
            border-radius: vars.$border-radius;
            display: inline-block;
        }

        .zoom-img {
            transition: transform vars.$transition-default;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}