@import '../../index.scss';


.feature-card {
    padding: $object-padding-400;
    border-radius: $border-radius;
    background-color: white;
    border: none;
    box-shadow: $shadow-100;

    .image-container {
        min-height: 22rem;

        img {
            width: 90%
        }
    }

    .category {
        font-weight: 600;
    }

    button {
        width: 100%;
    }
}


@include media-breakpoint-down(md) {

    .feature-card {
        .image-container {    
            img {
                width: 100%
            }
        }
    }

}