@import '../../../index.scss';


.quickstart-section {

    .margin-end {
        border-right: $line-400;
    }

    .step-number {
        opacity: 0.7;
        background-color: $primary-100;
        color: $primary;
        border-radius: 50%;
        width: 2.2rem;
        height: 2.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
    }
}