@use '../styles/variables.scss' as vars;


.code-snippet-container {
    position: relative;
    margin-top: 1rem;

    button {
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: inherit !important;
        border-radius: vars.$border-radius;
        padding: 5px 10px;
        color: vars.$grey-700;
        border: none;

        &:hover {
            background-color: vars.$grey-200 !important;
            cursor: pointer;
        }
    }

    button.copied {
        background-color: vars.$success-color-500 !important;
        color: white !important;
    }
}