.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.2rem;
    overflow-x: auto;
    .highlighted {
        color: black !important;
        font-weight: 500;
    }
}