.plan-card {
    border: $line-300;
    box-shadow: $shadow-300;
    border-radius: $border-radius;
    padding: $object-padding-400;
    width: 100%;
    min-height: 400px;
    color: $font-color-dark;
    font-size: $font-size-h6;

    .plan-name {
        font-weight: 400;
        font-size: $font-size-h3;
    }

    .price-number {
        font-size: 2.6rem;
        color: $font-color-dark;
    }

    .price-info {
        font-size: $font-size-p-200;
        color: $font-color-light;
        margin-left: 10px;
    }

    button {
        width: 100%;
        padding: 0.5rem !important;

        &:disabled {
            border: $line-200 !important;
            color: $font-color-light !important;
        }
    }

    .plan-link {
        color: $primary;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            color: $primary-300;
        }
    }

    .disabled {
        color: $font-color-light !important;
        font-weight: 400 !important;
        pointer-events: none;
    }

    svg {
        display: inline-block;
        transition: transform $transition-default;
    }

    .link-container {
        position: relative;

        &:hover {

            svg {
                transform: $transform-translate-right;
            }
        }
    }

}