.tldr-box {
    border: $line-300;
    border-left: 6px solid $grey-600;
    border-radius: $border-radius;
    padding: $object-padding-500;
    background-color: $grey-200;
    box-shadow: $shadow-100;

    .tldr-title {
        font-size: $font-size-h4;
        color: $font-color-dark;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    p {
        margin: 0 !important;
    }
}