@import '../../index.scss';


.blog-page {
    padding: 6vw 3vw;

    a {
        color: $primary;

        &:hover {
            color: darken($primary, 10%);
        }
    }

    .previews-container {
        padding: 5vw 17vw;
    }
}


@include media-breakpoint-down(md) {
    .blog-page { 
        .previews-container {
            padding: 5vw 3vw;
        }
    }
}