@import '../../../index.scss';


.why-tanaos-section {
    .icon-container {
        background-color: $primary;
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: $border-radius;
        box-shadow: $shadow-100;
        
        i {
            color: white;
            font-size: 3rem;
        }
    }
}