// Contact Form Spam Filter custom styles
.cta-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: $font-size-h3;
	font-weight: 600;
	color: $font-color-dark;
	margin-bottom: 1rem;
}
.cta-icon {
	font-size: 2rem;
	margin-right: 1rem;
	vertical-align: middle;
}
// Email Intent Detection custom styles
.cta-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: $font-size-h3;
	font-weight: 600;
	color: $font-color-dark;
	margin-bottom: 1rem;
}
.cta-icon {
	font-size: 2rem;
	margin-right: 1rem;
	vertical-align: middle;
}
@import '../ticket-classification/TicketClassification.module.scss';
