@import '../../../index.scss';


.vision-and-mission-section {
    i {
        font-size: 60px;
        color: $secondary;
    }
};

@include media-breakpoint-down(md) {
    .vision-and-mission-section {
        padding: 2rem;
    }
}