@import '../../index.scss';


.code-snippet-container {
    position: relative;
    margin-top: 1rem;

    button {
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: inherit !important;
        border-radius: $border-radius;
        padding: 5px 10px;
        color: $grey-700;
        border: none;

        &:hover {
            background-color: $grey-200 !important;
            cursor: pointer;
        }
    }

    button.copied {
        background-color: $success-color-500 !important;
        color: white !important;
    }
}