@use '../../../styles/variables.scss' as vars;


.article {
    max-width: 800px;
    margin: 7rem auto;
    padding: 0 1rem;

    h1 {
        font-size: vars.$font-size-hero;
    }

    .subtitle {
        font-size: vars.$font-size-h3;
        line-height: vars.$line-height-h3;
        color: vars.$font-color-light;
        font-weight: 400;
    }

    a {
        color: vars.$primary;
        text-decoration: none;
        transition: text-decoration vars.$transition-default;

        &:hover {
            text-decoration: underline;
        }
    }

    .back-link {
        font-size: vars.$font-size-h6;
        text-decoration: none;
        color: vars.$font-color-dark;

        i {
            display: inline-block;
            transition: transform vars.$transition-default, color vars.$transition-default;
        }

        &:hover {
            color: vars.$primary;
            i {
                transform: vars.$transform-translate-left;
            }
        }
    }

    p, span, li {
        font-size: vars.$font-size-h5;
        line-height: vars.$line-height-h5;
    }

    p {
        margin: 2rem 0;
    }

    .date {
        color: vars.$grey-400;
    }
}