.article {
    max-width: 800px;
    margin: 5rem auto;
    padding: 0 1rem;

    h1 {
        font-size: $font-size-hero;
    }

    .subtitle {
        font-size: $font-size-h3;
        line-height: $line-height-h3;
        color: $font-color-light;
        font-weight: 400;
    }

    a:not(:global(.btn)) {
        color: $primary;
        text-decoration: none;
        transition: text-decoration $transition-default;

        &:hover {
            text-decoration: underline;
        }
    }

    .back-link {
        font-size: $font-size-h6;
        text-decoration: none;
        color: $font-color-dark;

        svg {
            display: inline-block;
            transition: transform $transition-default, color $transition-default;
        }

        &:hover {
            color: $primary;
            svg {
                transform: $transform-translate-left;
            }
        }
    }

    p, span, li {
        font-size: $font-size-h5;
        line-height: $line-height-h5;
    }

    p {
        margin: 2rem 0;
    }

    .date {
        color: $grey-400;
    }

    .post-image {
        box-shadow: $shadow-100;
        border-radius: $border-radius;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@include media-breakpoint-down(md) {
    .article {
        margin: 3rem auto;
        padding: 0 1rem;

        h1 {
            font-size: $font-size-h2;
        }

        .subtitle {
            font-size: $font-size-h4;
            line-height: $line-height-h4;
        }

        p, span, li {
            font-size: $font-size-h6;
            line-height: $line-height-h6;
        }
    }
}

@include media-breakpoint-down(sm) {
    .article {
        margin: 2rem auto;

        h1 {
            font-size: $font-size-h3;
        }
    }
}