@import './variables.scss';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';


// Body.
body {
    font-family: $font-body !important;
    color: $font-color-light;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    font-size: $font-size-p-500;
    height: 100%;
    margin: 0;
    padding: 0;
}

// Text.
h1 {
    font-size: $font-size-h1;
    font-family: $font-headlines !important;
    color: $font-color-dark;
    line-height: $line-height-h1;
}

h2 {
    font-size: $font-size-h2;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h3 {
    font-size: $font-size-h3;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h4 {
    font-size: $font-size-h4;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h5 {
    font-size: $font-size-h5;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h6 {
    font-size: $font-size-h6;
    font-family: $font-headlines !important;
    color: $font-color-dark;
    line-height: $line-height-h6;
}

p {
    font-family: $font-headlines !important;
    color: $font-color-light;
    line-height: $line-height-p-500;
}

ul {
    line-height: $line-height-p-500;
}

// Elements.
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.toast-container {
    z-index: 10000;
    position: fixed;
    bottom: 50px !important;
    left: 50px !important;
}

.toast {
    width: fit-content;
    color: $font-color-dark;
    background-color: white;
    font-size: $font-size-p-300;
    padding: $object-padding-200;

    .toast-title {
        font-size: $font-size-p-500;
        font-weight: 500;
    }

    .close-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: $font-size-p-300;
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .toast-content {
        display: flex;
    }

    .toast-icon {
        font-size: 30px;
    }

    &.success {
        border-left: 10px solid $success-color-500;
        .toast-icon {
            color: $success-color-500;
        }
    }
    &.danger {
        border-left: 10px solid $danger-color-500;
        .toast-icon {
            color: $danger-color-500;
        }
    }
    &.warning {
        border-left: 10px solid $warning-color-500;
        .toast-icon {
            color: $warning-color-500;
        }
    }
    &.info {
        border-left: 10px solid $info-color-500;
        .toast-icon {
            color: $info-color-500;
        }
    }
}

.modal-content {
    padding: $object-padding-300;

    .modal-title {
        font-size: $font-size-h6;
        color: $font-color-dark;
        font-weight: 400;
    }

    .modal-header {
        border-bottom: none;
    }
    .modal-footer {
        border-top: none;
    }
}

input {
    width: 100%;
    border-radius: $border-radius;
    border: $line-200;
    outline: none !important;
    padding: $object-padding-300;

    &:active, &:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    &.error {
        border: $line-danger !important;
    }

    &:focus:not(.error) {
        border-color: $primary !important;
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::placeholder {
    color: $grey-400 !important;
}

textarea {
    @extend input;
    overflow: hidden;
    resize: none;
}

label {
    color: $font-color-light !important;
    font-weight: 300 !important;
    margin-bottom: 10px;
}

// Icons.
.selectable-icon {
    cursor: pointer;
    padding: $object-padding-200;
    border-radius: $border-radius;
}

.check-icon {
    color: $success-color-500 !important;
}

.download-icon {
    @extend .selectable-icon;
    color: $success-color-500;
    -webkit-text-stroke: 0.5px;

    &:hover {
        background-color: $success-color-200;
    }
}

.delete-icon {
    @extend .selectable-icon;
    color: $danger-color-500;

    &:hover {
        background-color: $danger-color-200;
    }
}

.thin-delete-icon {
    @extend .selectable-icon;
    color: $danger-color-500;
    font-size: $font-size-p-400;
    -webkit-text-stroke: 1px;

    &:hover {
        color: $danger-color-200;
    }
}

.start-icon {
    @extend .selectable-icon;
    color: $grey-800;
    font-size: $font-size-p-600;

    &:hover {
        background-color: $grey-200;
    }
}

.three-dots-icon {
    @extend .selectable-icon;
    color: $grey-800;
    font-size: $font-size-p-600;

    &:hover {
        background-color: $grey-100;
    }
}

.question-mark-icon {
    @extend .selectable-icon;
    color: $grey-800;
    font-size: $font-size-p-600;

    &:hover {
        background-color: $grey-100;
    }
}

.close-icon {
    @extend .selectable-icon;
    color: $font-color-dark;
    font-size: $font-size-p-600;

    &:hover {
        color: $font-color-light;
    }
}

.eye-icon {
    @extend .selectable-icon;
    color: $font-color-dark;
    font-size: $font-size-p-600;

    &:hover {
        background-color: $grey-100;
    }
}

// Bootstrap overrides
// -------------------

// Backgrounds.
.bg-primary {
    background-color: $primary !important;
}

.bg-info {
    background-color: $blue-500 !important;
}

.bg-success {
    background-color: $success-color-500 !important;
}

.bg-danger {
    background-color: $danger-color-500 !important;
}

.bg-warning {
    background-color: $warning-color-500 !important;
}

.text-danger {
    color: $danger-color-500 !important;
}

.text-dark {
    color: $font-color-dark !important;
}

// Buttons.
.btn {
    border: none;
    border-radius: $border-radius;
    padding: $object-padding-300;
    min-width: $button-min-width;
    font-weight: 500;

    &:hover, &:focus, &:active {
        border: none;
    }

    &:disabled {
        background-color: $button-disabled;
        color: white;
    }
}

.btn-primary {
    background-color: $button-primary;
    color: white;

    &:hover, &:focus, &:active {
        background-color: $button-primary-hover !important;
        color: white;
    }
}

.btn-white {
    background-color: white;
    color: $font-color-dark;
    border: $line-300;
    box-shadow: $shadow-100;

    &:hover {
        background-color: $grey-100;
        color: $font-color-dark;
        border: $line-300;
    }

    &:focus, &:active {
        background-color: white;
        border: $line-300;
    }
}

.btn-dark {
    background-color: $button-dark;
    color: white;

    &:hover, &:focus, &:active {
        background-color: $button-dark-hover !important;
        color: white;
    }
}

.btn-success {
    background-color: $button-success;
    color: white;

    &:hover, &:focus, &:active {
        background-color: $button-success-hover !important;
        color: white;
    }
}

.change-page-button {
    @extend .btn;
    min-width: fit-content;
    background-color: unset;
    border: $line-200;
    cursor: pointer;

    i {
        color: $font-color-dark;
        -webkit-text-stroke: 0.5px;
    };

    &:hover, &:focus, &:active {
        background-color: $grey-100;
        border: $line-200;
    };

    &:disabled {
        background-color: unset;
        color: white;
        pointer-events: none;

        i {
            color: $grey-200;
            -webkit-text-stroke: 0.1px;
        };
    }
};

// Dropdowns.
.dropdown {
    .btn {
        width: 100%;
        color: $font-color-dark;
        background-color: white !important;
        border: $line-200;
        text-align: left;

        &:hover, &:focus, &:active {
            border-color: $primary;
            color: $font-color-dark;
        }

        &.error {
            border: $line-danger !important;
        }
    
        &:focus:not(.error) {
            border-color: $primary !important;
        }
    }

    .dropdown-menu {
        border: $line-200;
        border-radius: $border-radius;
        padding: $object-padding-200;
        width: 100%;

        a:hover {
            background-color: $gray-200;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }
}

// ------------------

// Logo
.logo {
    font-size: $font-size-p-800;
    cursor: pointer;
    font-weight: 400;
    color: $primary;
}

// Misc.
.link {
    color: $primary;
    cursor: pointer;

    &:hover {
        color: $link-color-hover;
    }

    &.disabled {
        color: $button-disabled;
        pointer-events: none;
    }
}

.simple-page-container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    text-align: center;

    .simple-page {
        max-width: 400px;
    }
}

.small-hero-section {
    margin-top: 2rem;
}

// Badges.

.badge {
    padding: $badge-padding;
    border-radius: $border-radius;
}

.badge-grey {
    @extend .badge;
    color: $grey-800;
    background-color: $grey-100;
}

// Animations.
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s ease;
}

// Misc.
.hero-subtitle {
    font-size: $font-size-p-600;
    line-height: $line-height-p-600;
    font-weight: 400;
    color: $font-color-light;

    b {
        font-weight: 400;
        color: $primary-300;
    }
}

.global-padding {
    padding: $page-padding;
}

.highlight {
    color: $primary !important;
    font-weight: 500;
}