@import 'bootstrap/scss/bootstrap';


// Body.
html, body, #root {
    font-family: $font-body !important;
    color: $font-color-light;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    font-size: $font-size-p-500;
    height: 100%;
    margin: 0;
    padding: 0;
    font-display: swap !important;
    background-color: $background-color;
}

.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

// Text.
h1 {
    font-size: $font-size-h1;
    font-family: $font-headlines !important;
    color: $font-color-dark;
    line-height: $line-height-h1;
}

h2 {
    font-size: $font-size-h2;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h3 {
    font-size: $font-size-h3;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h4 {
    font-size: $font-size-h4;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h5 {
    font-size: $font-size-h5;
    font-family: $font-headlines !important;
    color: $font-color-dark;
}

h6 {
    font-size: $font-size-h6;
    font-family: $font-headlines !important;
    color: $font-color-dark;
    line-height: $line-height-h6;
}

p {
    font-family: $font-headlines !important;
    color: $font-color-light;
    line-height: $line-height-p-500;
    font-size: $font-size-p-500;
}

span {
    font-size: $font-size-p-500;
    line-height: $line-height-p-500;
}

ul {
    font-size: $font-size-p-500;
    line-height: $line-height-p-500;
}

// Elements.
a {
    color: $link-color;

    &:hover {
        color: $link-color-hover;
    }
}

// Bootstrap overrides
// -------------------``

.text-dark {
    color: $font-color-dark !important;
}

// Buttons.
.btn {
    border: none;
    border-radius: $border-radius;
    padding: $object-padding-300;
    min-width: $button-min-width;
    font-weight: 500;

    &:hover, &:focus, &:active {
        border: none;
    }

    &:disabled {
        background-color: $button-disabled;
        color: white;
    }
}

.btn-primary {
    background-color: $button-primary;
    color: white;

    &:hover, &:focus, &:active {
        background-color: $button-primary-hover !important;
        color: white;
    }
}

.btn-white {
    background-color: white;
    color: $font-color-dark;
    border: $line-300;
    box-shadow: $shadow-300;

    &:hover {
        background-color: $grey-100;
        color: $font-color-dark;
        border: $line-300;
        box-shadow: $shadow-500;
    }

    &:focus, &:active {
        background-color: white;
        border: $line-300;
    }
}

// ------------------

// Misc.

.simple-page-container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    text-align: center;

    .simple-page {
        max-width: 400px;
    }
}

// Padding.
.global-padding {
    padding: $page-padding;
    padding-top: calc(#{$headline-bar-height} + 2rem);
}