// Colors.
// ------------------------------

// Primary.
$primary-500: #FF3668;
$primary-100: lighten($primary-500, 35%);
$primary-300: lighten($primary-500, 15%);
$primary-700: darken($primary-500, 20%);
$primary: $primary-500;

// White, grey, black.
$grey-100: #f9f9f9;
$grey-200: #f0f0f0;
$grey-300: #cecee0;
$grey-400: #ABABBB;
$grey-600: #60646c;
$grey-700: #535559;
$grey-800: #353535;

// Green.
$green-100: #D1F0E5;
$green-200: #b7ffdd;
$green-500: #198754;
$green-700: #0D6E3D;

// Red.
$red-100: #FFD7DC;
$red-200: #FEC7CC;
$red-500: #DC3545;
$red-700: #A71D2A;

// Yellow.
$yellow-100: #fff4d0;
$yellow-200: #ffe8a3;
$yellow-500: #e6ac00;
$yellow-700: #b97e00;

// Blue.
$blue-500: #007BFF;
$blue-200: #B3D1FF;
$blue-100: #D6E4FF;

// Variables.
$info-color-500: $blue-500;
$info-color-200: $blue-200;
$info-color-100: $blue-100;
$danger-color-700: $red-700;
$danger-color-500: $red-500;
$danger-color-200: $red-200;
$danger-color-100: $red-100;
$warning-color-700: $yellow-700;
$warning-color-500: $yellow-500;
$warning-color-200: $yellow-200;
$warning-color-100: $yellow-100;
$success-color-700: $green-700;
$success-color-500: $green-500;
$success-color-200: $green-200;
$success-color-100: $green-100;

// ------------------------------

// Fonts.
// ------------------------------
// Font family.
$font-headlines: 'Poppins', sans-serif;
$font-body: 'Poppins', sans-serif;

// Font color.
$font-color-dark: $grey-800;
$font-color-semidark: $grey-700;
$font-color-light: $grey-600;
$font-color-extra-light: $grey-300;
$font-color-error: $danger-color-700;
$font-color-success: $success-color-700;
$font-color-warning: $warning-color-700;

// Font size.
$font-size-hero: 2.7rem;
$font-size-h1: 2.2rem;
$font-size-h2: 2.0rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1.1rem;
$font-size-h6: 1rem;
$font-size-p-500: 0.9rem;
$font-size-p-400: 0.8rem;
$font-size-p-300: 0.7rem;
$font-size-p-200: 0.6rem;

// Line height.
$line-height-hero: 3.7rem;
$line-height-h1: 3.2rem;
$line-height-h5: 2.5rem;
$line-height-h4: 2.2rem;
$line-height-h6: 2rem;
$line-height-p-800: 2.2rem;
$line-height-p-600: 2rem;
$line-height-p-500: 1.8rem;
$line-height-p-400: 1.6rem;
$line-height-p-300: 1.4rem;

// Border radius.
$border-radius: 10px;
$border-radius-full: 100%;

// Padding.
$page-padding: 4vw;
$object-padding-200: 0.3rem;
$object-padding-300: 0.7rem;
$object-padding-400: 1rem;
$object-padding-500: 1.3rem;
$object-padding-600: 1.6rem;
$object-padding-700: 2rem;

$badge-padding: 0.5rem 1rem;

// Lines.
$line-100: 1px solid $grey-100;
$line-200: 1px solid $grey-200;
$line-300: 1px solid $grey-300;
$line-400: 1px solid $grey-400;
$line-success: 2px solid $success-color-500;
$line-danger: 2px solid $danger-color-500;
$line-warning: 2px solid $warning-color-500;

// Shadows.
$shadow-100: 0 0 10px 0 rgba(0, 0, 0, 0.1);
$shadow-200: 0 0 10px 0 rgba(0, 0, 0, 0.2);

// Tables.
$table-padding: 8px 20px 8px 20px;

// Buttons.
$button-primary: $primary;
$button-primary-hover: $primary-700;
$button-disabled: $grey-200;
$button-light: $grey-100;
$button-dark: $grey-800;
$button-dark-hover: $grey-600;
$button-grey: $grey-300;
$button-grey-hover: $grey-400;
$button-success: $success-color-500;
$button-success-hover: $success-color-700;
$button-danger: $danger-color-500;
$button-danger-hover: $danger-color-700;
$button-warning: $warning-color-500;
$button-warning-hover: $warning-color-700;
$button-min-width: 150px;

// Links.
$link-color: $font-color-dark;
$link-color-hover: $grey-700;

// Navbar and headline bar.
$navbar-padding: 1vw 4vw;
$headline-bar-height: 40px;

// Footer.
$footer-padding: 2vw 4vw;

// Blog articles.
$blog-article-padding: 5vh;
$blog-article-section-spacing: 3vh;

// Icons.
$icon-size: 2rem;

// Transitions and animations.
$transition-default: 0.2s ease-in-out;
$transform-translate-right: translateX(3px);
$transform-translate-left: translateX(-3px);