@import '../../index.scss';


.blog-article-page {
    color: $font-color-dark;
    padding: $blog-article-padding;

    h2, h3, ul, li, hr {
        margin-top: $blog-article-section-spacing;
        margin-bottom: $blog-article-section-spacing;
    }

    p {
        padding: 0;
        margin-top: $blog-article-section-spacing;
        margin-bottom: $blog-article-section-spacing;
        color: $font-color-dark;
    }

    img {
        width: 100%;
        margin-top: $blog-article-section-spacing;
        margin-bottom: $blog-article-section-spacing;
    }

    .img-with-shadow {
        box-shadow: $shadow-200;
    }

    .author-info {
        display: flex;
        flex-direction: space-between;
        align-items: center;
        font-size: $font-size-p-400;

        .follow-button {
            color: $success-color-500;
            border: $line-success;
            padding: 2px 8px;
            border-radius: 5rem;
            font-size: 0.9rem;
            cursor: pointer;

            &:hover {
                background-color: $success-color-500;
                color: $white;
            }
        }

        .author-bio {
            font-weight: 300;
            color: $font-color-light;
        }

        .author-avatar {
            width: 4rem;
            border-radius: $border-radius-full;
        }
    }

    .share-section {
        color: $font-color-light;
        font-weight: 400;
        font-size: $font-size-p-400;
        position: sticky;
        top: 8rem;

        i {
            font-size: $font-size-p-500;
            cursor: pointer;

            &:hover {
                color: $font-color-dark;
            }
        }
    }

    .article-date {
        font-size: $font-size-p-400;
        color: $font-color-light;
        font-weight: 300;
    }
}